.service-section {
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 40px;
  margin-top: 250px;
  margin-left: 42px;

  margin: 0;
  justify-content: center;
  height: 100%;

  align-items: center;
}

.service-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%; /* Passt die Breite des Containers an */
  align-items: flex-start;
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 20px;
}

.services-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 60%; /* 60% der Breite für die Service-Boxen */
  align-items: stretch; /* Sorgt dafür, dass alle Boxen gleich breit sind */
}

.services-header {
  flex-basis: 35%; /* 35% der Breite für den Header */
  text-align: left; /* Text auf der rechten Seite */
  padding-left: 40px; /* Abstand zwischen Header und Container */
}

.service-box {
  display: flex;
  flex-direction: row;
  border: 2px solid #c1a05c;
  padding: 10px;
  border-radius: 10px;
  width: 85%; /* Sorgt dafür, dass alle Boxen gleich breit sind */
  width: 100%;
  min-height: 150px; /* Setzt eine feste Höhe für alle Boxen */

  box-sizing: border-box; /* Verhindert, dass Padding die Größe beeinflusst */
  background-color: #00000049;
}

.service-box:hover {
  transform: scale(1.02);
}

.service-image {
  margin-right: 10px;
  flex-basis: 20%; /* Definiert die Breite des Bildbereichs */
}

.img-placeholder {
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 15px;
}

.img-placeholder img {
  width: 100px;
  height: 100px;
}

.service-text {
  flex-basis: 80%; /* Der Textbereich nimmt den restlichen Platz ein */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Zentriert den Text vertikal */
}

.service-text h3 {
  font-size: 1.5em;
  font-family: "Orbitron", sans-serif;
  margin-top: 30px;
  margin-top: 0;
  background: linear-gradient(
    90deg,
    #9b6b2f,
    #f8ec9b,
    #c1a05c,
    #c1a05c,
    #ffffff
  );
  -webkit-background-clip: text;
  color: transparent;
}

.service-text p {
  font-size: 1.2em;
  margin-bottom: 40px;
  margin-bottom: 0;
  color: #b0b0b0;
  margin-top: 10px;
}

.services-header h2 {
  font-family: "Orbitron", sans-serif;
  background: linear-gradient(
    90deg,
    #9b6b2f,
    #f8ec9b,
    #c1a05c,
    #c1a05c,
    #ffffff
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.1);
  margin-top: 15px;
  /* margin-left: -200px; */
}

.services-header h3 {
  font-family: "Orbitron", sans-serif;
  font-size: 3em;
  color: #ffffff;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.1);
}

.services-header p {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #b0b0b0;
  /* margin-left: -200px; */
}

.support {
  position: relative;
  display: inline-block;
}

.support .tooltip {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Tooltip über dem Element anzeigen */
  left: 50%;
  margin-left: -60px; /* Tooltip mittig über dem Element ausrichten */
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(10px); /* Leichte Animation nach oben */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

/* Tooltip sichtbar machen, wenn man über das Element hovert */
.support:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); /* Leichte Aufwärtsbewegung */
}

/* Tooltip-Arrow (Dreieck nach unten) */
.support .tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* Unten am Tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

/* Stil für den Support-Link */
.no-link-style {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

/* Stil für das Icon */
.support i {
  margin-right: 8px;
  color: #ffffff;
}

/* Hover-Effekt für den Link */
.no-link-style:hover {
  color: #ffffff83;
}

.service-button {
  background-color: #ffffff;
  color: #0a0a0a;
  box-shadow: 0 5px 15px rgba(193, 160, 92, 0.4);
  /* margin-left: -200px; */
}

.service-button:hover {
  background-color: #a3854b;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(193, 160, 92, 0.6);
}
