@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

body {
    background-color: blue;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: gold;
    color: black;
    padding: 5px;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    line-height: 1.2;
}

img {
    max-width: 300px;
    width: 100%;
    border-radius: 20px;
}

.grid {
    display: grid;
    max-width: 1920px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
}

.grid section:last-child {
    grid-column-start: span 3;
    grid-column-start: auto;
}

h1 {
    text-align: center;
    font-size: 60px;
}



header h2 {
    font-size: 40px;
    font-weight: 100;
}

header h3 {
    font-size: 20px;
    font-weight: 100;
}

a {
    font-size: inherit;
}

header h2 {
    color: black;
}

p,
h2 {
    color: black;
}

section {
    max-width: 1100px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.borderless {
    border: 0;
}

.btn-round {
    background-color: rgb(255 0 0);
    background-color: #ff7c00;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 17px;
    margin-top: 10px;
    transition: 0.3s;
    display: flex;
    height: 100%;
    max-height: 120px;
    font-size: 22px;
    align-items: center;
}

.btn-round:hover {
    color: black;
    background-color: rgb(0, 255, 98);
}

footer {
    padding: 10px;
    background-color: gold;
    text-align: center;
    font-size: 20px;
    color: black;
    display: flex;
    flex-direction: column;
}

footer h2 {
    color: black;
    font-weight: bold;
}

footer p {
    color: black;
}

section h2 {
    padding: 10px;
}

.contact {
    margin: 20px 0;
}

form {
    margin: 0 auto;
    display: inline-flex;
    max-width: 400px;
    padding: 10px;
    width: 100%;
}

input {
    width: 100%;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid white;
    font-size: 17px;
    border-radius: 20px 0 0 20px;
}

button {
    padding: 20px;
    font-size: 17px;
    border-radius: 0 20px 20px 0;
    font-family: 'Poppins', sans-serif;
    border: 0;
    background-color: rgb(255 113 103);
    transition: 0.3s;
    cursor: pointer;
    color: black;
}

button:hover {
    color: black;
    background-color: rgb(0, 255, 98)
}

textarea:focus,
input:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #85a1ff;
}

::-webkit-scrollbar-thumb {
    background: #4466fd;
}

::-webkit-scrollbar-thumb:hover {
    background: #2f55ff;
}

.code ::-webkit-scrollbar {
    height: 7px;
}

.code ::-webkit-scrollbar-thumb {
    background: gold;
}

.code ::-webkit-scrollbar-track {
    background: black;
}

.bashscripting{
    color: white !important;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: white;
    background-color: #ffffff29;
    padding: 20px;

}

.bashscripting *{
    color: black;
    color: white;
}


table,
th,
td {
    /* border: 2px solid black; */
    border-bottom: 1px solid rgb(38, 0, 255);

    border-collapse: collapse;
}

table{
    margin: 10px 0;
    background-color: white;
    color: rgba(0, 0, 0, 0.411) !important;
    width: 100%;
    
}

th{
    width: 50%;
}

th,td, table code{
    padding: 5px;
    color: blue !important;
    font-size: 13px;
}

th{

    text-align: left;
}

p{
    font-size: 15px;

}
h3{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 3px solid black;
    border-top: 3px solid white;
    font-size: 25px;
}

h4 {
    font-size: 17px;
}

pre{
    padding: 10px;
    margin: 5px 0;
    background-color: white;
    color: blue;
}

pre code{
    color: blue !important;
    text-align: left;
    font-size: 13px;
 
}

.bashscripting{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.codes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    justify-content: end;
        gap: 20px;
        width: 100%;
}

.codes2{
    grid-template-columns: 6fr 6fr;}

.code{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    overflow: auto;
}

pre{
    height: 100%;
    width: 100%;
    overflow: auto;
}

code{
    width: 100%;
}

.empty{
        height: 26px;
            display: list-item;
}


/* Sets to 2 colums at 1300px width */

@media screen and (max-width:1300px) {
    .grid{
        grid-template-columns: 1fr 1fr;
    }

    .btn-round{
        height: auto !important;
    }

    .codes{
        grid-template-columns: 1fr 1fr;
    }

    .codes2{
        display: block;
    }

    pre, .code table{
    height: 100%;
    width: 100%;
    }

    header h2{
        font-size: 30px;
    }

    .hide-empty{
        display: none;
    }

}

@media screen and (max-width:992px) {
    a {
        font-size: 18px;
    }

    h2 {
        font-size: 21px;
    }

    .btn-round {
        text-decoration: none;
        border-radius: 20px;
        padding: 17px;
        margin-top: 10px;
        transition: 0.3s;
        display: flex;
        height: 100%;
        max-height: 120px;
        align-items: center;
    }

        header h2 {
            font-size: 26px;
        }


}

@media screen and (max-width:768px) {
    .grid {
        grid-template-columns: 1fr;
    }


    .grid section:last-child {
        grid-column-start: span 1;
    }

    section {
        border: 0 !important;
    }

    h2 {
        font-size: 25px;
    }

    .codes{
        display: block;
    }

    .empty{
        display: none;
    }
}


@media screen and (max-width:600px) {
    h1 {
        font-size: min(60px, 12vw);
    }

    h3,
    p {
        font-size: min(20px, 4vw);
    }

    a {
        font-size: 17px;
    }

        header h2 {
            font-size: 20px;
        }
}

@media screen and (max-width:400px) {
    h2 {
        font-size: min(25px, 7vw);
    }

    button,
    input {
        padding: 10px;
        font-size: min(30px, 4vw);
    }

    a {
        font-size: min(17px, 4vw);
    }

         header h2 {
             font-size: 17px;
         }

}

@media (max-height: 600px) and (max-width: 915px) and (orientation: landscape) {
    header {
        position: static;
    }
}