* {
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}


:root {
    --ratedo-color-font: #121212;
    --ratedo-slider-header-text: "Das sagen unsere Kunden:";
    --ratedo-slider-background: #ffffff;
    --ratedo-slider-shadow: rgba(0, 0, 0, 0.10);
    --ratedo-slider-bordersize: 0px;
    --ratedo-slider-border: #ddd;
}

@font-face {
    font-family: Decimal-Mono-Pro-Regular;
    src: url('../fonts/DecimaMonoPro.otf');
}

@font-face {
    font-family: Decimal-Mono-Pro-Italic;
    src: url('../fonts/DecimaMonoPro-Italic.otf');
}

p {
    font-family: Decimal-Mono-Pro-Italic;
}

@font-face {
    font-family: Decimal-Mono-Pro-BoldItalic;
    src: url('../fonts/DecimaMonoPro-BoldItalic.otf');
}

body {
    font-family: Decimal-Mono-Pro-Regular;
    font-size: min(2vw, 35px);
    margin: 0;
}

header {
    height: 20vh;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 150px;
}

header img {
    height: 100%;
    padding: 20px;
}

.banner {

    height: 100vh;
    position: relative;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(94, 122, 18);
    min-height: 800px;

}

.banner h1 {
    text-align: left;
    font-size: min(7vw, 105px);
    font-family: Decimal-Mono-Pro-BoldItalic;
    margin: 0;
}

.banner-content {
    background-color: rgba(255, 255, 255, 0.575);
    height: 100%;
    padding: 10px;
    padding-top: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    justify-content: center;

}

a {
    text-decoration: none;
}

.btn {
    background-color: rgba(94, 122, 18) !important;
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 40px !important;
    text-align: center;
    border-radius: 10px !important;
    margin: 0 auto;
    border: 0 !important;
    font-size: min(2vw, 35px) !important;
    cursor: pointer;
}

.bg1 {
    background-image: url('../images/bggreen.jpg');
}

.bg2 {
    background-image: url('../images/person.png');

    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 48%;

    min-height: 600px;
    height: 100vh;
    max-height: 1200px;
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.bg-green {
    background-color: rgba(94, 122, 18);
    color: white;
}

.bg-white {
    background-color: white;
    color: rgba(94, 122, 18);
}

.container {
    padding: 70px 50px;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
}

#nachhilfe {
    grid-template-columns: 4.5fr 7.5fr;
}

.grid-content {
    width: 100%;
    padding: 20px;

}

.grid-content img {
    width: 85%;

    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.borderradius_x2 {
    border-radius: 25% 0 25% 0;
}

.borderradius_x4 {
    border-radius: 50px;
}

.centered {
    text-align: center;
}

img {
    width: 100%;
}

.video {

    overflow: hidden;
}

.aspectratio_16x9 {
    aspect-ratio: 16 / 9;
}

iframe {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;

}

section img {
    max-width: 1600px;
    margin: 0 auto;
    display: block;
}

.full-height {

    width: 100%;
    aspect-ratio: initial;
}

.ratedo_badge {
    margin: 0 auto;
    display: flex;
    justify-content: end;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;

}

.ratedo_badge img {
    max-width: 180px;
    width: 100%;
    padding: 20px;
}


.ratedo-slider-header {
    color: white;
}

.slider {
    color: white;
    width: 100%;
}

.arrow {
    filter: brightness(100);
}

.arrow--left {
    left: -5% !important;
}

.arrow--right {
    right: -5% !important;
}

.dot {
    background-color: white !important;
}

.dot--active {
    background-color: #e6be45 !important;
}

.ratedo-content .navigation-wrapper {
    border-radius: 30px !important;

}

form {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    width: 100%;
    color: black;
    padding: 50px;
    font-size: 20px;
}

input {
    border-radius: 50px;
    padding: 25px 20px;
    font-size: 25px;
    background-color: whitesmoke;
    border: 0;
    width: 100%;
    font-family: Decimal-Mono-Pro-Regular;
}

option {
    font-family: Decimal-Mono-Pro-Regular;

}

form .grid2 {
    gap: 35px;
    margin-bottom: 35px;
}

#form-container-heading {
    padding: 10px 15px;
    display: inline-block;
    border-radius: 25px;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

span a {
    color: blue;
}

input[type="radio"],
input[type="submit"] {
    width: auto;
}

.bg2 section {
    color: black;
    max-width: 60%;
    text-align: center;
    padding: 20px;

}

.bg2 h2 {
    font-family: Decimal-Mono-Pro-BoldItalic;
}

.bg-ratings {

    background-color: #48581e;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(94, 122, 18);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(94, 122, 18);
}

.Personalfragebogen input,
.Personalfragebogen select,
.Personalfragebogen option {
    font-size: 15px;
    padding: 10px;
    padding-bottom: 5px;
    width: auto;
    background-color: white;
    border-radius: 0;
    border-bottom: 2px solid black;
}

.Personalfragebogen select {
    border: 0;
    border-bottom: 2px solid black;
}

input:focus,
input:focus-visible {
    outline: none !important;
}

.Personalfragebogen input[type="checkbox"],
.Personalfragebogen input[type="radio"] {
    width: auto !important;
}

table {
    width: 100%;
    background-color: rgba(94, 122, 18);
    font-weight: bold;

}

th,
td {
    margin: 1px;
    background-color: white;
}

td {
    text-align: center;
    padding: 10px;
}

label {
    user-select: none;

}

.Personalfragebogen p,
.bold {
    font-weight: bold;
}

.fragebogen header {
    position: static;
    height: 200px;

}

.fragebogen img {
    width: auto;
    display: block;
    margin: 0 auto;
}

.fragebogen .container {
    padding-top: 0;
}

.input-box{
    display: inline-block;
}


@media only screen and (max-width: 1200px) {
    .bg2 {
        height: 700px;
    }
}


@media only screen and (max-width: 992px) {

    .grid2,
    #nachhilfe {
        grid-template-columns: 1fr;
        text-align: center;
    }



    .bg2 {
        height: 500px;
    }
}


@media only screen and (max-width: 768px) {
    .container {
        padding: 20px;
    }

    body,
    .btn {
        font-size: 20px !important;
    }

    input {
        font-size: 20px;
        padding: 20px;
    }

    form .grid2 {
        gap: 10px;
        margin: 10px 0;

    }

    form {
        padding: 20px;
    }

    .banner {
        height: calc(var(--vh, 1vh) * 100);
    }

    header {
        min-height: 120px;
        height: 15vh;
    }


}


@media only screen and (max-width: 600px) {

    body,
    input,
    .btn {
        font-size: 17px !important;
    }

    .btn {
        width: 100% !important;
    }

    .bg2 {
        margin: 0;
    }

    .bg2 section {
        max-width: 100%;
    }

    .container {
        padding: 15px;
    }

    .fragebogen .container {
        padding: 0;
    }

    .Personalfragebogen {
        padding: 10px;
    }

    .Personalfragebogen input {
        width: 100%;
    }

    label {
        margin-top: 10px;
    }

    .banner {
        min-height: 500px;
        height: 100vh;
    }

    .banner-content {
        gap: 15px;
        padding: 0;
    }

    .space {
        padding-top: 25px;
        display: block;
        margin: 0;
    }
}