.tools-section {
    padding: 50px 0;
    margin-top: 150px;
}

.tools-content {
    max-width: 1500px; /* Begrenze die maximale Breite */
    margin: 0 auto; /* Zentriere den Inhalt */
    padding: 0 20px; /* Innenabstand für kleinere Bildschirme */
}

.tools-content h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
    background: linear-gradient(90deg,#9b6b2f, #f8ec9b, #c1a05c, #c1a05c, #ffffff);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.1);
}

.tools-content p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 40px;
    color: #b0b0b0;
    max-width: 1200px; /* Begrenze die Breite des Absatzes */
    margin-left: auto;
    margin-right: auto;
}

.tool-list {
    display: flex;
    justify-content: center; /* Zentriert die Boxen */
    align-items: stretch; /* Macht alle Boxen gleich hoch */
    gap: 35px; /* Weniger Abstand zwischen den Boxen */
    flex-wrap: wrap; /* Bei kleineren Bildschirmen umbrechen */
    padding: 10px; /* Außenabstand */
}

.tool-item {
    width: 250px;
    padding: 20px;
    background-color: #00000049;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    border: 2px solid #c1a05c;
}

.tool-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.tool-item h3 {
    font-family: 'Orbitron', sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
    background: linear-gradient(90deg,#9b6b2f, #f8ec9b, #c1a05c, #c1a05c, #ffffff);
    -webkit-background-clip: text;
    color: transparent;
}

.tool-item p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.tool-button {
    background-color: #ffffff;
    color: #0a0a0a;
    box-shadow: 0 5px 15px rgba(193, 160, 92, 0.4);
}

.tool-button:hover {
    background-color: #a3854b;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(193, 160, 92, 0.6);
}
