@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    cursor: default;
    background-color: rgb(8, 8, 8);
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}

body {
    max-width: 1400px;

    width: 100%;
    margin: 0 auto;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h3{
    font-size: 21px;
}

h4{
    color: gray;
    font-weight: 600;
}

p{
   
    font-size: 17px;
}

header {
    padding: 20px;
    background-color: black;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 210px;
    /*  gap: 200px; */
    justify-content: space-between;
}

#logo {
    height: 80%;
}

#logo img {
    height: 100%;
}

#menu {
    display: flex;
    gap: 60px;
    height: 100%;
    align-items: center;

}

#menu a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
}

#hamburgermenu, #closemenu{
    display: none;
    width: 40px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(91%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
}


.swiper {
    width: 100%;
    aspect-ratio: 19 / 9;
    max-height: calc(100svh - 250px);
    background-image: url(../images/Waves.jpg);
        background-position: center;
    
        background-size: cover;
        background-repeat: no-repeat;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: linear-gradient(to bottom, black -20%, transparent 22%);
    background: transparent;
}

.swiper-overlay {
    
    
    
}

.swiper-text {
    height: 100%;
    max-width: 1200px;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
    display: flex;
        padding: 30px;
        
}

.swiper-text p{
    font-size: 20px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide p {
    max-width: 800px;
    text-align: start;
}

.bg1 {
   
}

.container{
    padding: 30px;
}

.solutions-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    justify-items: center;
    
}

.solution{
    
    width: 100%;
    max-width: 400px;
    
}

.solution img{
    width: 120px;
    margin-right: 10px;
}


.solution-top{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.solution:hover img{
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

.references-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.reference{
    width: 100%;
    font-size: 0;
    transition: 0.1s;
    cursor: pointer;
    overflow: hidden;
}

.reference img{
    transition: 1s;
}

.reference:hover img{
    transform: scale(110%);
}

.reference img{
    width: 100%;
    /* aspect-ratio: 16 / 9; */
    object-fit: cover;
}

.title{
    text-align: center;
    padding: 50px;
    margin-bottom: 30px;
    font-size: 30px;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

footer{
    padding: 100px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.footer-content{
    display: flex;
    flex-direction: row;
    gap: 40px;    align-items: start;
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    
}

.footer-content p{
    font-size: 22px;
  
}

.footer-content img{
    width: 250px;
    object-fit: contain;
}

.socials a{
    background-color: #272727;
    width: 45px;
    height: 45px;
    display: inline-block;
    padding: 14px;
    border-radius: 5px;
}

.socials img{
    height: 100%;
    width: 100%;
    
    filter: brightness(0) saturate(100%) invert(100%) sepia(8%) saturate(381%) hue-rotate(187deg) brightness(115%) contrast(100%);
}

#impressum{
    text-decoration: none;
    color: white;
}

#modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.473);
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 10;
    

}

#close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(100%) sepia(91%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
}

.modal-content{
height: 100%;
background-color: #212528;
padding: 50px;
display: flex;
flex-direction: column;
gap: 25px;
overflow: auto;
position: relative;
max-height: 950px;
max-width: 1200px;
width: 100%;
animation: fadeIn 0.5s;}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

.modal-content ol{
    margin-left: 17px;
    
}

.modal-content img{
    width: 50%;
    
    display: block;
   
}

.impressum-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex: 1;
    text-align: start;
    margin: 0 auto;
    width: 100%;
    background-color: #212528;
}

.impressum-container h2{
    font-size: 40px;
}

@media only screen and (max-width: 2000px) {
    body{
        max-width: 1200px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

    .header-content{
        height: 80px;
    }

    #menu {
        gap: 30px;
    }

    #menu a {
        font-size: 20px;
    }

    #logo{
        height: 100%;
    }

        .solutions-grid {
            grid-template-columns: 1fr 1fr;
        }

        .solution img{
            width: 80px;
        }

                .solution {
                    max-width: 100%;
                }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    
}

@media only screen and (min-width: 769px){
    #menu{
        display: flex !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .solutions-grid {
            grid-template-columns: 1fr;
        }

        

        .references-grid{
            grid-template-columns: 1fr 1fr;
        }

        #menu{
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #000000;
            z-index: 20;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
        }


        #closemenu{
            position: absolute;
            top: 20px;
            right: 20px;
            display: block;
            width: 40px;
        }


        #hamburgermenu{
            display: block;
        }

        .swiper{
            height: 400px;
            aspect-ratio: none;
        }

        .footer-content{
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
        }

                
                p {
                    font-size: 16px !important;
                }

                                .impressum-container h2 {
                                    font-size: 25px;
                                }

                .title{
                    font-size: 20px;
                }

                .container{
                    padding: 20px;
                }

                footer{
                    padding: 20px;
                }

                .swiper-text{
                    padding: 20px;
                }

                #modal{
                    padding: 0;
                }

                .modal-content{
                    padding: 20px;
                    padding-top: 70px;
                }

                                .modal-content img {
                                    width: 100%;
                
                                    display: block;
                
                                }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .references-grid{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .solution img{
        width: 60px;
    }

    .footer-content img{
        width: 50%;
    }

    .socials img{
        width: 100%;
    }

    
}

@media only screen and (max-width: 400px) {
   
    .container, .swiper-text, header{
        padding: 20px;
    }

    .header-content{
        height: 60px;
    }

        .impressum-container h2 {
            font-size: 23px;
        }

p {
        font-size: 14px !important;
    }

    h3{
        font-size: 19px;
    }

    h4{
        font-size: 15px;
    }

    .solutions-grid{
        gap: 25px;
    }
}