@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

body {
    margin: 0;
    line-height: 1.5;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(216, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(214, 0, 0);
}

header {
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

body {
    background-color: #F6F6F6;
    color: rgb(31, 31, 31);
}

.header-content {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
    gap: 20px;
    max-width: 1800px;
    margin: 0 auto;
    width: 95%;
}

.header-content #logo,
#logo img {
    height: 50px;
    font-size: 0;
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

#menu a {
    color: black;
    text-decoration: none;
    font-size: 28px;
}

.banner {
    height: calc(100svh - 171px);
    background-image: url('../images/refargotohp-4_f068pZszc-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 1300px;
}

.banner-subpage {
    background-image: url('../images/michael-niessl-nuvaRAeaMdc-unsplash.jpg');
    height: 600px;
}

.banner-overlay {
    background-color: rgba(0, 0, 0, 0.432);
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.banner-content {
    color: white;
    max-width: 1800px;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.banner-content h1 {
    line-height: 1;
}

.banner-subpage .banner-content {
    align-items: center;
}

.highlight-red {
    color: red;
    font-weight: bolder;
}

.banner-content p {
    font-size: 30px;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 45px;
    line-height: 1;
    padding: 20px 0;
}

h3 {
    font-size: 30px;
    padding-bottom: 20px;
}

p {
    font-size: 19px;
    font-weight: 400;
}

.news {
    display: grid;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
}

.news-item {
    aspect-ratio: 1 / 1;
    width: 33%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-decoration: none;
    color: black;
    margin-bottom: 40px;
    background-color: white;
    border: 1px solid #DDD;
}

.news-item:hover .news-thumbnail img {
    transform: scale(110%);
}

.news-thumbnail img {
    aspect-ratio: 4 / 3;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.news-thumbnail {
    width: 100%;
    overflow: hidden;
}

.news-details {
    padding: 15px;
    padding-top: 5px;
}

.news-heading {
    font-size: 25px;
    font-weight: 500;
}

.news-teaser {
    font-size: 20px;
}

.news-thumbnail {
    width: 100%;
}

section {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: start;
}

section h2 {
    padding: 0;
}

.button {
    background-color: white;
    padding: 15px 25px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    display: inline-block
}

.btn-red {
    background-color: rgb(214, 0, 0);
    color: white;
}

.container {
    margin: 40px auto;
    width: 95%;
    max-width: 1800px;
}

.services {
    margin: 0 auto;
}

.services h2 {
    margin: 50px auto;
}

main {
    max-width: 1250px;
    margin: 40px auto;
}

.content-grid {
    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: center;
}

.content-text {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    padding: 7%;
    height: 100%;
}

.content-text h3 {
    padding: 0;
}

.content-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.team-container {
    margin: 20px auto;
}

.team-container h2 {
    margin: 40px auto;
}

.team-person {
    display: flex;
    align-items: center;
    gap: 40px;
}

.team-person img {
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: 185px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}

.team {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    text-align: start;
    gap: 40px;
}

.projects img {
    margin-bottom: 20px;
}

footer {
    border-top: 1px solid #DDD;
    padding: 30px;
    background-color: white;
}

footer .container {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.text-centered {
    text-align: center;
}

.contact {
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 40px;
}

iframe {
    width: 100%;
    bottom: 0;
}

footer * {
    font-size: 15px;
    text-align: end;
    color: black;
}

footer img {
    height: 100%;
    object-fit: contain;
}

.logos {
    display: flex;
    gap: 25px;
    align-items: end;
    height: 100px;
}

.img-small {
    height: 40%;
    width: auto;
}

#hamburgermenu,
#close {
    display: none;
    cursor: pointer;
    height: 40px;
}

#close {
    position: absolute;
    top: 30px;
    right: 20px;
}

.image-text {
    margin: 20px auto;
    background-color: white;
    padding: 20px;
}

.image-text img {
    width: 300px;
    margin-bottom: 0 !important;
    margin-right: 20px;
    float: left;
}

.image-text p {
    padding: 0px;
    padding-top: 0;
}

.image-text h3 {
    padding-top: 0px;
    padding-bottom: 10px;
    line-height: 1;
}

@media only screen and (max-width: 1200px) {
    #menu {
        gap: 30px;
    }

    #menu a {
        font-size: 25px;
    }

    .header-content #logo,
    #logo img {
        height: 40px;
    }

    .banner-content {
        width: 100%;
        padding: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .news {
        flex-direction: column;
    }

    .news-item {
        width: 100%;
        aspect-ratio: unset;
        margin: 0;
        display: grid;
        grid-template-columns: 4fr 8fr;
    }

    .news-thumbnail {
        aspect-ratio: unset;
        width: 100%;
    }

    .news-details {
        padding: 10px;
    }

    .news-details h3 {
        padding: 0;
    }

    .container {
        margin: 20px auto;
        width: calc(100% - 40px);
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 25px;
    }

    p,
    .news-teaser {
        font-size: 17px;
    }
}

@media only screen and (min-width: 769px) {
    #menu {
        display: flex !important;
    }
}

@media only screen and (max-width: 768px) {

    .header-content,
    footer {
        padding: 30px 20px;
        width: auto;
    }

    .banner{
        background-attachment: unset;
    }

    #hamburgermenu,
    #close {
        display: block;
    }

    #menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: white;
        gap: 10px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #menu a {
        font-size: 30px;
    }

    footer .container {
        flex-direction: column-reverse;
        gap: 50px;
        margin-top: 30px;
        width: 100%;
       
    }

    .logos {
        width: 100%;
        max-width: 400px;
        align-self: baseline;
    }

    .content-grid {
        display: flex;
        flex-direction: column;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .content-text {
        padding: 20px;
    }

    .services {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .services h2 {
        margin: 20px auto;
    }

    main {
        margin: 0;
    }

    .image-text img {
        margin-right: 10px;
    }

    .team-person {
        padding: 20px;
        flex-direction: column;
        gap: 20px;
        background-color: white;
    }

    .team-person img {
        max-width: 250px;
    }

    .team-container {
        margin: 0;
    }

    .banner {
        height: 400px;
    }

        .image-text {
            padding: 0;
        }
    
        .image-text p {
            padding: 20px;
            padding-top: 0;
        }
    
        .image-text h3 {
            padding: 20px;
            padding-bottom: 10px;
        }
    
        .image-text img {
            width: 100%;
            margin: 0;
            float: none;
        }
}

@media only screen and (max-width: 600px) {
    .news-item {
        display: flex;
        gap: 0;
    }

    .img-small {
        width: 20%;
    }

    footer img {
        width: 30%;
    }

    .logos {
        gap: 10px;
        justify-content: center;
    }

    .logos{
        display: grid;
        grid-template-columns: 4fr 3fr 3fr;
        gap: 20px;
        align-items: end;
        justify-items: center;
    }

    .logos img{
        width: 100% !important;
    }

    

    h1 {
        font-size: 32px;
    }

    h2 {
        padding: 10px 0;
        font-size: 30px;
    }

    .banner-content p {
        font-size: 20px;
    }
}