.banner {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2)), url('../../images/Startseite.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    min-height: 375px;
    padding-top: 80px;
}

.banner img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

.front {
    clip-path: polygon(0 0, 63% 0, 40% 50%, 66% 100%, 0 100%, 0% 60%);
    animation: 1.5s logoreveal forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.back {
    opacity: 0;

    animation: logoreveal 1.5s forwards;
    animation-delay: 1s;
}

.reveal {
    position: relative;
    max-width: 200px;
    margin: 0 auto;

}

.banner .back {
    position: absolute;
    top: 0;
    left: 0;
}


@keyframes logoreveal {
    0% {
        opacity: 0;

    }

    100% {

        opacity: 1;
    }

}

.fadeIn {
    opacity: 0;
    animation: fadeIn 1.5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}