header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header .container{
    height: 80px;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 10px 20px;
    max-width: 100%;
    backdrop-filter: blur(12px);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    height: 100%;
}

header nav{
    display: flex;gap: 30px;
    align-items: center;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}

#hamburger,
#close {
    display: none;
    height: 50px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7479%) hue-rotate(70deg) brightness(99%) contrast(107%);
}

header nav img{
    height: 25px;
    object-fit: cover;
}

#language{
    font-size: 0;
}
